@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700;800&family=Geist:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist", ui-monospace, SFMono-Regular, monospace;
  --color-brand-yellow: #ffd700;
  --color-brand-green: #4ae183;
  --color-brand-red: #e74c3c;
  --color-surface-charcoal: #1a1a1a;
  --color-bg-dark: #131313;
  /* Breakpoint personalizado para celulares pequeños vs grandes */
  --breakpoint-xs: 480px;
}


